body{
    margin-left: 20px;
    background-color: #dbdbd9;
    font-size: x-large;
}
video {
    display: block;
    width: auto;
    height: 200px;
    margin-left: 12em;
  
}
#header{
  background-color: #6e6e6b;
}
h1 {
    color: #3b3b39;
    height: 300;
    width: 100%;
    text-align: center;
}
button {
    border: solid #3b3b39 2px;
    background-color: #25891a;
    padding: 5px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 13em;
}
p {
    margin-left: 30px;
    line-height: 1.6;
}
img {
  border: solid #3b3b39 2px;
  height: 150px;
  width: auto;
  padding: 5px;
  background-color: #25891a;
  margin: 5px;
}
.h3-personal {
  background-color: #6e6e6b;
  color: #3b3b39;
  font-weight: bold;
  padding: 5px;
  border: solid #25891a 4px;  
}
#header-image{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
a{
  color: #024f0e;
}
#caption{
  margin-left: 12em;
  font-size: medium;
}
ul{
    line-height: 1.6;
}
.petname{
    margin-left: 30px;
}
.petattributes{
    margin-left: 50px;
}
#hobbies{
    margin-left: 100px;
}
h2{
    text-decoration: underline;
    color: #3b3b39;
}
table {
  border: solid #25891a 4px;
  background-color:#3DA332;
  padding: 10px;
  width: 50%;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  color: #3b3b39;
}
#table-head{
  text-align: left; 
}
table, tr, td{
            border-collapse: collapse;
            width: 50%;
        }
tr,td{
  vertical-align: bottom;
  border: solid black 2px;
  }
.column2-3-4{
  text-align: right;
}
.column2{
  text-align: center;
}
#main{
  background-color:#6e6e6b;
  width: 40%;
  height: 300px;
  overflow: auto;
  margin-left: 1.5em;
  }
